.cart {
  display: grid;
  place-items: center;
  padding: 125px 0;
}

.cartBox {
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 34px;
}

.cartTypography {
  text-align: center;
  font-size: 20px;
}